

.navmain-right a:hover {
    transform: translateY(-2px);
   color: white;
   }
  
  .navmain-right {
    float: right;
  }
  
  .navmain-right a{
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-shadow: 0 0 3px white, 0 0 5px black;
  }